<h1>Calcular Investimento CDB</h1>
<div class="container">
  <form (ngSubmit)="onSubmit()">
     <div>
        <label>Valor</label>
        <input
        type="number"
        id="Valor"
        name="Valor"
        class="form-control"
        [(ngModel)]="Valor" 
        required
      />
     </div>
     <div>
        <label>Prazo em meses</label>
        <input
        type="number"
        id="PrazoEmMeses"
        name="PrazoEmMeses"
        class="form-control"
        [(ngModel)]="PrazoEmMeses"  
        required
        />
     </div>
     <br>
     <button type="submit" class="btn btn-primary">Calcular</button>
  </form>
 
  <div *ngIf="resultado" class="resultado mt-3">
   <h3>Resultado:</h3>
   <pre>{{ resultado }}</pre>
 </div>
</div>
